wandb/
wandb*.json
**/*.ckpt
**/*.pth
**/*.json
.vscode/
**/*.pdb
**.json
**.txt
**.csv
# ignore ckpt but not yamls
ckpt/**/*.ckpt
!ckpt/**/*.yaml
!ckpt/*.yaml
*.code-workspace
outputs/
**/*.txt
**/lightning_logs/
**/inference_outputs/
.hydra
scope_preprocessed/
preprocessed/
datasets/
figs_eval/
datasets_csv/
scripts/tests/flexibility_data_test.py
scripts/tests/test_flex_predictor.py
scripts/test_loading_flex_pred.py
environments/
data/update_metadata.py
scrips/md/results_export
scrips/md/simulations
**slurm_logs/
**/debugging_stuff
backflip_inference/
ProteinMPNN/
*.csv

# do not ignore flex profiles:
!flex_profiles/*.txt

*.sh

# do not ignore stuff in install_utils
!install_utils/
!install_utils/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# custom stuff
debug_npz.py
scripts/logs/
results/
scripts/md/
scripts/tests/
configs/hybrid_cascade.yaml
plots/
test.py
ATLAS/
tmp/
databases/
dataset-*
outputs/

# exclude .sh and .csv in scripts from gitignore:
# scripts/
!scripts/**/*.sh
!scripts/*.csv
!**/job.sh
metrics.csv
